@{ 
    ViewData["Title"] = "Index";    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<FlickrClone.Models.Image>
@using System.Security.Claims


@if (User.IsSignedIn())
{
    <h2>Images</h2>
    <hr />
    @if (Model.Any())
    {

        @foreach (var listImage in Model)
        {
            <p>@Html.DisplayFor(modelImage => listImage.Description) | @Html.ActionLink("Details", "Details", "Images", new { id = listImage.ImageId }) |</p>
            <hr />
        }
    }
    else
    {
        <p>No images have been added yet!</p>
        @Html.ActionLink("Create New Image", "Create")
    }

}
else
{
    <p>Your account is not logged in. Please try again/Register with us.</p>
}