body {
    background-color: azure;
    padding-top: 50px;
    padding-bottom: 70px;
    overflow-y: scroll;
}

h2, h4 {
    text-align: center;
}

.form-control {
    width: 40%;
}

.form-control1 {
    width: 40%;
    height: 120px;
}

#zones {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.indexBody {
    background-image: url("../../images/poww.jpg");  
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
    height: 55em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    
}

 #title, #title2, #link {
   margin: 0;
   font-size: 50px;
   font-weight: bolder; 
   font-family: 'Audiowide', cursive;
   color: rgba(248, 248, 255, 0.8);
   text-shadow: black 0.1em 0.2em 0.4em;
   text-align: center; 
   vertical-align: middle; 
}

div.text {
    margin-top: 30%; 
}

#footer {
    padding-top: 12px;
    padding-left: 10px;
}
